---
layout: home
---

<div id="bio" class="bio">
  <h1 class="index-heading"> Bio </h1>
  <div class="bio-body">
    <p> {{ site.data.bio.normal.content }} </p>
  </div>
</div>


<div id="timeline" class="timeline-brief">
  <h1 class="index-heading">Recent Timeline</h1>

  <div class="timeline-body">
    {% for experience in site.data.experiences %}
    {% if experience.brief == true %}
    <div class="timeline-item">
      <div class="timeline-date">
        {{ experience.date }}
      </div>
      <div class="timeline-title">
        {{ experience.title }}
      </div>
      <div class="timeline-desc">
        {{ experience.desc }}
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  
  <div class="button">
    <h1 class="heading"><a href="{{ '/timeline/#timeline' | prepend: site.baseurl }}">
      <i class="fa fa-info-circle"></i> Show More
    </a></h1>
  </div>
</div>

<div id="publications" class="publications">
  <h1 class="index-heading">Selected Publications</h1>

  <div class="pub-list">
  {% for publication in site.data.publications %}
  {% if publication.selected %}
    <div class="pub">
      <div class="pub-left">
        <img class="intro-img" src="{{ publication.imgurl | prepend: site.baseurl }}"/>
      </div>
      <div class="pub-right">
        <div class="title">
          {{ publication.title }}
        </div>
        <div class="authors">
          {% for author in publication.authors %}
          <a class="author" href="{{ author.url }}">{{ author.name | prepend: ' '}}</a>
          {% endfor %}
        </div>
        <div class="desc">
          <p>{{ publication.desc }}</p>
        </div>
        <div class="publish">
          {{ publication.status }} <i>{{ publication.publish }}</i>
        </div>
        <div class="tags">
          {% for tag in publication.tags %}
          [<a class="tag" href="{{tag.url}}"> {{ tag.name }} </a>]
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  {% endfor %}
  </div>
 
  <div class="button">
    <h1 class="heading"><a href="{{ '/publications/#publications' | prepend: site.baseurl }}">
      <i class="fa fa-info-circle"></i> Full List
    </a></h1>
  </div> 
</div>


<div class="posts">
  <h1 class="index-heading">Recent Posts</h1>

  <ul class="post-list">
  {% for post in site.posts limit: 3 %}
    <li class="post-item">
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <div class="content preview">
        {% if post.content contains '<!--more-->' %}
          {{ post.content | split:'<!--more-->' | first }}
        {% else %}
          {{ post.content }}
        {% endif %}
      </div>
    </li>
  {% endfor %}
  </ul>
  <div class="button">
    <h1 class="heading"><a href="{{ '/posts/#posts' | prepend: site.baseurl }}">
      <i class="fa fa-info-circle"></i> Check More
    </a></h1>
  </div> 
</div>
