<div id="profile-cover" class="cover img-responsive" style="background-image: url({{ site.background | prepend: site.baseurl }}); ">
  {{ site.static_files.path }}
  <div id="profile-namecard" class="profile-wrapper">
    <div class="profile-col profile-col-1">
      <img id="profile-avatar" src="{{ site.user.head_pic | prepend: site.baseurl }}" alt="Me" class="circle-img"/>
    </div>
    <div class="profile-col profile-col-2">
      <div id="my-name">
        {{ site.user.name }}
      </div>
      <div id="my-title">
        {{ site.user.title }}
      </div>
      <div id="my-email">
        {{ site.user.email }}
      </div>
      <div class="social-media">
          {% include grey-social.html %}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function moveIn()
  {
    $('#profile-avatar').attr('src', '{{ site.user.deep_pic | prepend: site.baseurl }}');
    $('#profile-cover').css("background-image", "url({{ site.deep_background | prepend: site.baseurl }})");
    // console.log('Move in now...');
  }

  function moveOut()
  {
    $('#profile-avatar').attr('src', '{{ site.user.head_pic | prepend: site.baseurl }}');
    $('#profile-cover').css("background-image", "url({{ site.background | prepend: site.baseurl }})");  
    // console.log('Move out now...');
  }

  $(function() { 
    $('#profile-avatar').hover(moveIn, moveOut);
  })

</script>