<div class="cover img-responsive" style="background-image: url({{ site.background }})">
    {{ site.static_files.path }}
    <div class="profile-wrapper">
        <div class="profile-col profile-col-1">
            <img src="{{ site.user.head_pic }}" alt="Me" class="circle-img"/>
        </div>
        <div class="profile-col profile-col-2">
            <div id="my-name">
                {{ site.user.name }}
            </div>
            <div id="my-title">
                {{ site.user.title }}
            </div>
            <div id="my-email">
                {{ site.user.email }}
            </div>
            <div class="social-media">
                {% include grey-social.html %}
            </div>
        </div>
    </div>
</div>
