
{% if site.social.twitter %}
<a href="https://twitter.com/{{ site.social.twitter }}">
  <img src="/images/icon/grey-twitter.svg" class="social-icon">
</a>
{% endif %}

{% if site.social.linkedin %}
<a href="https://linkedin.com/in/{{ site.social.linkedin }}">
  <img src="/images/icon/grey-linkedin.svg" class="social-icon">
</a>
{% endif %}

{% if site.social.github %}
<a href="https://github.com/{{ site.social.github }}">
  <img src="/images/icon/grey-github.svg" class="social-icon">
</a>
{% endif %}

{% if site.social.facebook %}
<a href="https://facebook.com/{{ site.social.facebook }}">
  <img src="/images/icon/grey-facebook.svg" class="social-icon">
</a>
{% endif %}
