.back-to-top {
    position:           fixed;
    bottom:             2em;
    right:              0px;
    text-decoration:    none;
    color:              $boya-light;
    background-color:   rgba(235, 235, 235, 0.80);
    font-size:          16px;
    font-weight:        bold;
    padding:            1em;
    display:            none;
}

.back-to-top:hover {    
    background-color:   rgba(135, 135, 135, 0.50);
}