/**
* Icon
*/

.social-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
}



/**
* Cover
*/
.cover {
  max-width: 100%;
  height: 520px;
  z-index:initial;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  @extend %clearfix;
  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right:  $spacing-unit / 2;
    padding-left:   $spacing-unit / 2;
  }
}

/**
* Profile Namecard Related
*/

.profile-wrapper {
  background-color: rgba(255, 255, 255, .8);
  border-radius: 25px;
  position: relative;
  top:40%;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  @extend %clearfix;

  @include media-query($on-palm) {
    top:15%;
    border-radius: 25px;
    position:relative;
    width: -webkit-calc(90% - (#{$spacing-unit} / 2));
    width: calc(90% - (#{$spacing-unit} / 2));
    margin-left: auto;
    margin-right: auto;
  }
}

.profile-col {
  float: left !important;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.profile-col-1 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}

.profile-col-2 {
  width: -webkit-calc(60% - (#{$spacing-unit} / 2));
  width:         calc(60% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .profile-col-1,
  .profile-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .profile-col {
    position: relative;
    margin: 10px auto;
    float: none;
    // width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    // width:         calc(100% - (#{$spacing-unit} / 2));
    width: -webkit-calc( 100% );
    width:         calc( 100% );
  }
}

.circle-img {
  margin: 0px auto;
  width: 168px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
}

#my-name {
  font-size: 40px;
  color: gray;
}

#my-title {
  font: 20px Serif;
  color: gray;
  font-weight: 200;
}

#my-email {
  font: 16px Serif;
  color: gray;
  font-weight: 160;
}

@include media-query($on-palm) {
  #my-title {
      display: none;
  }
}

.preview {
  text-overflow:ellipsis;
  overflow: hidden;
}


/*
* Embeded maxim
*/

.maxim {
  background-color: $grey-color-light;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 20px;
  border-radius: 4px;
  color: $blue-color-dark;
  @include media-query($on-palm) {
      padding: 2px;
      margin: 2px;
  }
}

.maxim > div > strong,
.maxim > strong {
  color: $red-color-dark;
}

.maxim > div > s,
.maxim >s {
  color: $green-color-dark;
}

.maxim > div > em,
.maxim > em {
  color: $blue-color-dark;
  font-weight: 400;
}

.maxim > div > i,
.maxim > i {
  color: $blue-color;
  font-weight: 400;
}

.maxim > div > u,
.maxim > u {
  color: $magenta-color-dark;
  font-weight: 400;
}

.maxim > div {
  margin: 5px;
}

.text-right {
  text-align:right;
}
.text-left {
  text-align:left;
}
.text-center {
  text-align:center;
}

hr.soft {
  border: 0;
  height: 1px;

  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));

  padding: 0;
  margin: 0;
}
