/**
 * Icon
*/

.social-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
}



/**
 * Cover
*/
.cover {
   max-width: 100%;
   height: 480px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   margin-right: auto;
   margin-left: auto;
   padding-right: 0px;
   padding-left: 0px;
   @extend %clearfix;
   @include media-query($on-laptop) {
       max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
       max-width:         calc(#{$content-width} - (#{$spacing-unit}));
       padding-right:  $spacing-unit / 2;
       padding-left:   $spacing-unit / 2;
   }
}

/**
* Profile Namecard Related
*/

.profile-wrapper {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 25px;
    position: relative;
    top:40%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', Helvetica,Arial,sans-serif;
    @extend %clearfix;

    @include media-query($on-palm) {
        font-family: 'Roboto', Helvetica,Arial,sans-serif;
        top:15%;
        border-radius: 25px;
        position:relative;
        width: -webkit-calc(90% - (#{$spacing-unit} / 2));
        width: calc(90% - (#{$spacing-unit} / 2));
        margin-left: auto;
        margin-right: auto;
    }
}

.profile-col {
    float: left !important;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.profile-col-1 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
}

.profile-col-2 {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .profile-col-1,
    .profile-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .profile-col {
        position: relative;
        margin: 10px auto;
        float: none;
        // width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        // width:         calc(100% - (#{$spacing-unit} / 2));
        width: -webkit-calc( 100% );
        width:         calc( 100% );
    }
}

.circle-img {
    margin: 0px auto;
    width: 168px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
}

#my-name {
    font-size: 40px;
    color: gray;
}

#my-title {
    font: 20px Serif;
    color: gray;
    font-weight: 200;
}

#my-email {
    font: 16px Serif;
    color: gray;
    font-weight: 160;
}

@include media-query($on-palm) {
    #my-title {
        display: none;
    }
}

.preview {
    text-overflow:ellipsis;
    overflow: hidden;
}

/*
* Timeline items
*/
$timeline-padding: 20px;

.timeline {
    font-family: 'Roboto',sans-serif, Helvetica;
    font-size: 20px;
    font-weight: 300;
    @extend %clearfix;
}

.timeline-body {
    padding:    0;
}

.timeline-start {
    width:       -webkit-calc(100% - 2 * (#{$timeline-padding}) );
    width:       calc(100% - 2 * (#{$timeline-padding}) );

    text-align: center;
    padding:    $timeline-padding;
}

.timeline-item:before {
    width:          11px;
    height:         11px;
    background:     #333;
    content:        "";
    display:        block;
    position:       absolute;
    border-radius:  5px;
}

.timeline-item {
    width:       -webkit-calc(50% - (#{$timeline-padding}) );
    width:       calc(50% -  (#{$timeline-padding}) );

    position: relative;
}

.timeline-item:nth-child(odd):before {
    left: -8px;
}

.timeline-item:nth-child(odd):after {
    left: -8px;
    bottom: 0;
}

.timeline-item:nth-child(odd) {
    margin-left:        50%;
    padding-left:       $timeline-padding;
    border-left:        5px solid #333;
    text-align:         left;
}

.timeline-item:nth-child(even) {
    margin-right:       -webkit-calc(50% + (#{$timeline-padding}) );
    margin-right:       calc(50% + (#{$timeline-padding}) );

    padding-right:  $timeline-padding;
    border-right:   5px solid #333;
    text-align:     right;
}

.timeline-item:nth-child(even):before {
    right: -8px;
}

.timeline-item:nth-child(even):after {
    right: -8px;
}

.timeline-date {
    font-size:      16px;
    font-weight:    400;
    color:          #a00000;
}

.timeline-title {
    font-size:      20px;
    font-weight:    500;
    font-family:    'Roboto', sans-serif;
}

.timeline-desc {
    font-size:      16px;
    font-weight:    200;
}

.timeline-item:last-child:after
{
    bottom:         0;
    width:          11px;
    height:         11px;
    background:     #333;
    content:        "";
    display:        block;
    position:       absolute;
    border-radius:  5px;
}

.timeline-item:last-child:nth-child(even){
    vertical-align:     middle;
    min-height:         200px;
    border-right:       5px dashed #333;
}

.timeline-item:last-child:nth-child(odd){
    vertical-align:     middle;
    min-height:         200px;
    border-left:       5px dashed #333;
}

@include media-query($on-palm) {
    .timeline-start {
        min-height:         50px;
        padding:            0 0 0 5px;
        text-align:         left;
        border-left:        5px dashed #333;
        width:              100%;
        padding-left:       5px;
        margin-left:        5px;
    }

    .timeline-start:after {
        left:           17px;
        width:          11px;
        height:         11px;
        background:     #333;
        content:        "";
        display:        block;
        position:       absolute;
        border-radius:  5px;
    }

    .timeline-item,
    .timeline-item:last-child:nth-child(odd),
    .timeline-item:last-child:nth-child(even),
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        min-height:         0;
        text-align:         left;
        border-left:        5px solid #333;
        border-right:       0px;
        width:              100%;
        padding-left:       5px;
        margin-left:        5px;
    }

    .timeline-item:before {
        left: -8px;
    }

    .timeline-item:after {
        left: -8px;
    }

    .timeline-date {
        font-size: 14px;
    }

    .timeline-title {
        font-size: 16px;
    }

    .timeline-desc {
        font-size: 12px;
    }
}
