.pagination {
  padding: 10px 0px 10px 0px;
  margin-bottom: 20px;
}

.page {
  display: inline-block;
  padding: 8px 12px 8px 12px;
  margin-right: 4px;
  border-radius: 3px;
  border: solid 1px #c0c0c0;
  background: $white-color-dark;
  font-size: .875em;
  font-weight: bold;
  text-decoration: none;
  color: $grey-color;
}

.page:hover {
  background: #fefefe;
}

.page.active {
  border: none;
  background: $grey-color-dark;
  color: #f0f0f0;
}
