---
layout: home
title: Toys
---
<div class="toys">
  <h1 class="page-heading">My toys</h1>
  <ul class="toy-list">
    {% for toy in site.toys %}
      {% if toy.count-down %}
      <li class="toy-item cd-item">
        <h2>
          <a class="toy-link" disabled="true">{{ toy.title }}</a>
        </h2>
        <div class="count-down" id="{{ toy.date }}"></div>
      </li>
      {% else %}
        <li class="toy-item">
          <span class="toy-meta">{{ toy.date | date: "%b %-d, %Y" }}</span>
          <h2>
            <a class="toy-link" href="{{ toy.url | prepend: site.baseurl }}">{{ toy.title }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<script src="/js/countdown/jquery.countdown.min.js" charset="utf-8">
</script>
<script charset="utf-8">
  $('.count-down').map(function(){
    $(this).countdown( this.id, function(event){
      $(this).html(event.strftime(
         '<span class="count-down-digit">%D</span> days '
       + '<span class="count-down-digit">%H</span> hr '
       + '<span class="count-down-digit">%M</span> min '
       + '<span class="count-down-digit">%S</span> sec'
       ));
    })
  });
</script>
